---
title: Home
layout: src/templates/layouts/2column-left.hbs
---
<div class="col-12">
<div class="pl-0 pr-0 grid-info-soft">
<a class="col-12 col-md-4 grid-info mt-5" href ="../../../PDP.html">
    
    <img class="d-block grid-img" src="{{assets}}/images/Grid1.png" alt="Our Story Image">
    
</a>
<a  href ="../../../PDP.html">
<div class="overlay-gray"></div>
</a>

   {{#eachUpTo (getDataArray site.categories.0.category site.catalog) 1}}
    <h5 class="overlay-center">{{this.name}}</h5>
   {{/eachUpTo}}

    
</div>
<div class="row">
      {{#eachUpTo (getDataArray site.categories.0.category site.catalog) 2}}
    <div class="col-12 col-md-6">
        <a class="col-12 col-md-4 grid-info-soft" href ="../../../PDP.html">
            <img class="d-block grid-img" src="../../assets/images/{{this.img}}" alt="Our Story Image">
            
        </a>
        <a  href ="../../../PDP.html">
     <div class="overlay-gray-small"></div>
     </a>
            <h5 class="overlay-center">{{this.name}}</h5>
    
    </div>
    {{/eachUpTo}}
</div>
<div class="message text-center mt-4 mb-4">
    <h5 class="semi-important-font bold mb-4">Featured Products</h5>
    <img class="line" src="{{assets}}/images/Line.png"/>
</div>
{{!CARDS}}
<div class="card-section">
<div class="card-columns-clp cards-desktop mb-5 mt-3">
    {{#eachUpTo (getDataArray site.categories.0.category site.catalog) 3}}
  <div class="card">
    <img class="card-img-top" src="../../assets/images/{{this.img}}" alt="Product 1">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">${{this.price.regular}}.00</p>
      <div class="d-inline-block">
      <button class="btn card-btn">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1 pt-1"></span>
      <span aria-hidden="true" class="icon-compare "></span>
      </div>
    </div>
  </div>
  {{/eachUpTo}}
</div>
</div>
</div>






