---
title: Home
layout: src/templates/layouts/1columnWBread.hbs
---

<div class="row mb-3">

  <img src="{{assets}}/images/GorillaCard.png" alt="gorilla card" class="col-6 gorilla-card-img">

  <div class="col-6">
    <div class="ml-4 mr-3">
      <h3>Gorilla Mailed Gift Card</h3>

      <p class="grey-color d-inline mt-2 mr-2 mb-1">SKU: {{site.catalog.0.name}}</p>
      <p class="grey-color d-inline mt-2 mb-1 mr-2">Availability: {{#if site.catalog.0.qty}}In Stock{{/if}} </p>
      <br>
      <div class="d-inline-block mt-2 mr-3 mb-2">
        <span aria-hidden="true" class="icon-star"></span>
        <span aria-hidden="true" class="icon-star"></span>
        <span aria-hidden="true" class="icon-star"></span>
        <span aria-hidden="true" class="icon-star"></span>
        <span aria-hidden="true" class="icon-star-outline"></span>
      </div>
      <p class="d-inline bold js-go-to-review">{{site.catalog.0.number-of-ratings}} Reviews | Write a Review</p>
      <br>
      <form class="row gift-card-form">
        <div class="col-6 form-group">
          <label class="bold d-block">Amount
            <span class="brand-color"> *</span>
          </label>
          <div class="selectdiv ">
  <label>
      <select class="js-valid-selector">
          <option selected> Other Amount... </option>
          <option>$10</option>
          <option>$25</option>
          <option>$50</option>
          <option>$100</option>
      </select>
  </label>
</div>
          </div>
        <div class="col-6 form-group">
          <label class="bold">Amount in USD
            <span class="brand-color"> *</span>
          </label>
          <input type="text" name="amount" class="form-control contact black-border" id="exampleFormControlInput1" placeholder="Minimun:$25.00">
        </div>
        <div class="col-6 form-group">
          <label class="bold">Sender Name
            <span class="brand-color"> *</span>
          </label>
          <input type="text" name="name" class="form-control contact name black-border" id="exampleFormControlInput2">
        </div>
        <div class="col-6 form-group">
          <label class="bold">Recipient Name
            <span class="brand-color"> *</span>
          </label>
          <input type="text" name="name" class="form-control contact name black-border" id="exampleFormControlInput3">
        </div>
        <div class="col-12 form-group">
          <label class="bold">Message:</label>
          <textarea class="form-control contact required comment black-border" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input type="number" name="qty" class="qty-input ml-3" placeholder="qty.">
        <button type="submit" class="btn add-to-cart-btn d-inline">Add to Cart</button>
      </form>

      <button type="submit" class="btn checkout-btn mt-0">Checkout with PayPal</button>
      <hr>
      <div class="d-inline">
        <div class="m-3 d-inline">
          <span aria-hidden="true" class="icon-wishlist-outline"></span>
          <p class="d-inline">Wishlist</p>
        </div>
        <div class="m-3 d-inline">
          <span aria-hidden="true" class="icon-compare"></span>
          <p class="d-inline">Compare</p>
        </div>
        <div class="m-3 d-inline">
          <span aria-hidden="true" class="icon-email"></span>
          <p class="d-inline">Email</p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<div class="info-section">
    <div class="col-6">
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item pdp-li p-0 d-inline col-4">
        <a class="pdp-tab active" data-toggle="tab" href="#detail" role="tab" aria-controls="menu" aria-selected="true">DETAILS</a>
    </li>
    <li class="nav-item pdp-li p-0 d-inline col-4">
        <a class="pdp-tab"  data-toggle="tab" href="#moreInfo" role="tab" aria-controls="account" aria-selected="false">MORE INFO</a>
    </li>
    <li class="nav-item pdp-li p-0 d-inline col-4">
        <a class=" pdp-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="account" aria-selected="false">REVIEWS</a>
    </li>
  
</ul>
</div>
<div class="col-12">
 <div class="tab-content tab-content-pdp" id="myTabContent">
    <div class="navbar-navinfo-content tab-pane show active" id="detail" role="tabpanel" aria-labelledby="home-tab">
       <h3>Detail</h3>
        <ul>
           <li>Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li>
           <li>Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li> 
           <li>Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li>  
        </ul> 
        </div>
<div class="navbar-nav info-content tab-pane" id="moreInfo" role="tabpanel" aria-labelledby="home-tab">
       <h3>More Info</h3>
        <ul>
           <li>Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li>
           <li>Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li> 
           <li>Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li>  
        </ul> 
        </div>
<div class="navbar-nav info-content tab-pane" id="reviews" role="tabpanel" aria-labelledby="home-tab">
      <h3 class="ml-4 mb-3 mt-4"><span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star-outline"></span> Reviews</h3>
        <ul>
           <li> <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star-outline"></span>
            <br>
               Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li>
           <li>
                <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star-outline"></span>
            <br>
            Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li> 
           <li>
                <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star"></span>
            <span aria-hidden="true" class="icon-star-outline"></span>
            <br>
            Lorem ipsdunt ut labore et quis nostrud exercit ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </li>  
        </ul> 
        <hr class="mt-4">
       <h5 class="mt-5 mb-3 ml-2" id="review-form">Write a Review</h5>
     <div class="row mb-4 ml-2">
    <form class="col-7 col-md-5 contact-form">
        <label class="sr-only">name input</label>
        <div class="form-group">
            <input type="text" name="nickname" class="form-control contact name" id="exampleFormControlInput1" placeholder="Nickname">
        </div>
        <div class="name-comment"><span class=""></span></div>
        <label class="sr-only">email input</label>
        <div class="form-group">
            <input type="email" name="title"class="form-control contact email" id="exampleFormControlInput2" placeholder="Review Title">
        </div>
        <div class=" email-comment"><span class=""></span> </div>
        <label class="sr-only">comment input</label>
        <div class="form-group">
            <textarea class="form-control contact required comment" id="exampleFormControlTextarea1" rows="3" placeholder="Review"></textarea>
        </div>
        <button type="submit" class="btn submit-btn">Submit</button>
    </form>
        </div>
</div>
</div>
</div>
</div>
<div class="related-products pl-3">
<h3>Related Products</h3>
<div class="card-section">
<div class="card-columns cards-desktop mb-5">
    {{#eachUpTo (getDataArray site.categories.0.category site.catalog) 5}}
  <div class="card">
    <img class="card-img-top" src="../../assets/images/{{this.img}}" alt="Product 3">
    <div class="card-body">
      <h5 class="card-title mb-0">{{this.name}}</h5>
      <p class="card-text mb-0">{{this.price.regular}}</p>
      <div class="d-inline-block">
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star-outline"></span>
      </div>
      <div class="d-inline-block mt-1">
      <button class="btn card-btn-pdp">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1 pt-1"></span>
      <span aria-hidden="true" class="icon-compare"></span>
      </div>
    </div>
  </div>
     {{/eachUpTo}}
</div>
</div>
</div>
<hr>
<div class="you-may-also-like pl-3">
    <h3 class="mb-3">You May Also like</h3>
    <div class="card-section">
<div class="card-columns cards-desktop mb-5">
      {{#eachUpTo (getDataArray site.categories.0.category site.catalog) 5}}
  <div class="card">
    <img class="card-img-top" src="../../assets/images/{{this.img}}" alt="Product 3">
    <div class="card-body">
      <h5 class="card-title mb-0">{{this.name}}</h5>
      <p class="card-text mb-0">{{this.price.regular}}</p>
      <div class="d-inline-block">
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star"></span>
          <span aria-hidden="true" class="icon-star-outline"></span>
      </div>
      <div class="d-inline-block mt-1">
      <button class="btn card-btn-pdp">Add to Cart</button>
      <span aria-hidden="true" class="icon-wishlist m-1 pt-1"></span>
      <span aria-hidden="true" class="icon-compare"></span>
      </div>
    </div>
  </div>
     {{/eachUpTo}}
</div>
</div>
</div>